<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
</head>
<body>
         <!-- <-------display variablel-------------->
          <%=name.toUpperCase()%>
         2+2= <%= 2+2 %>

         <!-- conditional statement -->
          <% if(userId===20) {%>
            <h1>UserId : <%=userId %></h1>
          <%}else if(userId===40){%>
            <h1>UserId :<%=userId%></h1>
        <%}%>

        <!-- loops  -->
         <% for(i=1;i<=10;i++) {%>
            <!-- <h1>i = <%=i%></h1> -->
         <% }%>

       <% const data=[1,2,3,4,5] %>
         <!-- for in loop -->
          <% for(d in data) {%>
            <h1><%=data[d]%></h1>
          <%}%>

          <%var currdate=new Date() %>
          <h1><%=currdate%></h1> 
</body>
</html>